$colour-yellow: #F2C040;
$colour-white: #FFFFFF;
$colour-black: #000000;
$colour-dark-gray: #2c2a2a7a;
$colour-light-gray : rgb(161, 160, 153)000;
$colour-orange:#ef2800;
$colour-dark-gray2:#3C434C;
$colour-blue:rgb(0, 33, 178);